body {
	background-color: #181818;
}

.row {
color:white;
}

.navbar-custom {
    background-color:#004C00;
    color:white;
    border-radius:0;
    margin-bottom: 0px;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color:white;
    font-family: kimberley;
    letter-spacing: 1.5px;
    font-size: 32px;
}

#headerButtons {
	float:right;
	position: absolute;
	right: 10px;
	top: 55px;
}

.slideshowContainer {
	z-index: 900;
}

.slideshowContainer header {
	z-index: 900;
}

.btn-login {
  color: #ffffff;
  background-color: #003500;
  border-width: 0px;
  min-width: 100px;
  padding: 7px 12px;
  margin: auto 15px auto 15px;
}
.btn-login:hover,
.btn-login:focus,
.btn-login:active,
.btn-login.active,
.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #002E00;
  border-width: 0px;
}

.btn-adduser {
  color: #ffffff;
  background-color: #002600;
  border-width: 0px;
  min-width: 100px;
  padding: 7px 12px;
}
.btn-adduser:hover,
.btn-adduser:focus,
.btn-adduser:active,
.btn-adduser.active,
.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #001E00;
  border-width: 0px;
}
